# Object files
*.o
*.pkl
*.pyc

# Libraries
*.lib
*.a

# Eclipse files
.settings/
*.project
*.classpath
.externalToolBuilders
maven-eclipse.xml 

# IntelliJ files
.idea/
*.iml

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
src/test/temp/

# other stuff
*.xpr
*.swp
/bin/
.*.swp
*.sublime-*
*.DS_Store
pom.xml.versionsBackup

# Java stuff
*.javac
.gwt/
target/

src/test/resources/dph_example_products/product_array_2d_image/i943630r.PNG
src/test/resources/1000/char_table_grouped.csv