<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Development</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Mike Cayanan</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Development">
       <p>This document describes how a user can utilize the Application Program Interface (API) of the <i>${project.artifactId}</i> package to develop their own tool. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#API Entry Points">API Entry Points</a></li>
        <li><a href="#Logging">Logging</a></li>
      </ul>
    </section>
       
    <section name="API Entry Points">
      <p>We have not had a chance to document the entry points into the API as of the current release. The best source for this information currently is the <a href="../apidocs/index.html">JavaDocs</a> documentation for this project.
      </p>
    </section>
    
    <section name="Logging">
      <p>The PDS4 Tools library can be configured to write log messages to a log file, if desired. It uses the logging library SLF4J. Two JAR files are needed to configure SLF4J:
      </p>
      
      <ul>
        <li>slf4j-api-n.n.n.jar - The SLF4J API library. Here, n.n.n means the SLF4J version number used.</li>
        <li>An SLF4J implementation library. There are multiple implementations which use various lower-level logging libraries. The one used in this toolkit is slf4j-jdk14-n.n.n.jar, the library that binds SLF4J with java.util.logging. You can replace this JAR file with an implementation that uses Log4J, Jakarta Commons Logging, or other logging library.</li>
      </ul>
      
      <p>See the <a href="http://www.slf4j.org/">SJF4J web site</a> for more information about configuring SLF4J.
      </p>
    </section>
  </body>
</document>
